<nav class="flex justify-between pb-2 mb-14 border-b border-solid border-[#ddd] uppercase">
    <div>
        <a class="generalText text-[#777] font-light" href="/">
            <h1 class="generalText text-5xl">Blog Eyz</h1>
        </a>
        <p class="generalText text-[#777] font-light">A Eyz Ryder Site</p>
    </div>
    <ul class="generalText flex justify-between items-end">
        <li class="list-none ml-5"><a class="generalText" href="/">Blogs</a></li>
        <li><a class="generalText text-[#777] font-light" href="/about">About</a></li>
        <li><a class="generalText text-[#777] font-light" href="/blogs/create">New Blog</a></li>
    </ul>
</nav>