<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body class="m-5 py-0 px-5 font-body max-h-screen max-w-screen">

<%- include('./partials/nav.ejs') %>

    <h1 class="generalText">404 - OOPS!</h1>
    <h2 class="generalText mb-10">That page doesn't exist</h2>

    <%- include('./partials/footer.ejs') %>
</body>
</html>