<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body class="m-5 py-0 px-5 font-body max-h-screen max-w-screen">

<%- include('./partials/nav.ejs') %>

    <div class="ml-5">
        <h2 class="font-bold mb-10">About Us</h2>
        <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia libero tempore facilis minus non debitis
            voluptatibus atque velit placeat aliquid recusandae sint, ad aperiam perferendis! Temporibus vel officiis
            reiciendis dicta?</p>
        <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia libero tempore facilis minus non debitis
            voluptatibus
            atque velit placeat aliquid recusandae sint, ad aperiam perferendis! Temporibus vel officiis reiciendis
            dicta?</p>

        <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia libero tempore facilis minus non debitis
            voluptatibus
            atque velit placeat aliquid recusandae sint, ad aperiam perferendis! Temporibus vel officiis reiciendis
            dicta?</p>

    </div>
    <%- include('./partials/footer.ejs') %>

</body>

</html>