<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

    <div>
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia libero tempore facilis minus non debitis
            voluptatibus atque velit placeat aliquid recusandae sint, ad aperiam perferendis! Temporibus vel officiis
            reiciendis dicta?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia libero tempore facilis minus non debitis
            voluptatibus
            atque velit placeat aliquid recusandae sint, ad aperiam perferendis! Temporibus vel officiis reiciendis
            dicta?</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia libero tempore facilis minus non debitis
            voluptatibus
            atque velit placeat aliquid recusandae sint, ad aperiam perferendis! Temporibus vel officiis reiciendis
            dicta?</p>

    </div>
    <%- include('./partials/footer.ejs') %>

</body>

</html>